<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="Admin">
  	<select id="login" resultType="boolean">
  		select count(*) from Member where id = #{id} and pw = #{pw}
  	</select>
  	<select id="selectAdminMemberInfo" resultType="cc.spring.dto.MemberDTO">
  		select * from Member where id = #{id} and pw = #{pw}
  	</select>
	<select id="selectSuccessMeal" resultType="int">
		select sum(mealSuccess) as mealSuccess_Total from GPTCOUNT
	</select>
	<select id="selectFailMeal" resultType="int">
		select sum(mealFail) as mealFail_Total from GPTCOUNT
	</select>
	<!-- 관리자 클라이언트회원목록 리스트 -->
	<select id="clientUserList" resultType="cc.spring.dto.MemberDTO>">
	SELECT * FROM MEMBER b join authgrade ag on b.authgradecode= ag.code where b.authgradecode=1003;
	</select>
	<!-- 관리자 판매자 회원목록 리스트 -->
	<select id="businessUserList" resultType="cc.spring.dto.MemberDTO>">
	SELECT * FROM MEMBER b join authgrade ag on b.authgradecode= ag.code where b.authgradecode=1002;
	</select>
  </mapper>