<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board">





<insert id="insertReview">

insert into BoardReview values ( #{code}, 1003 , 3001, #{memberCode} , #{title} , #{content} , 0 , 0, sysdate, null, null)

<selectKey keyProperty="code" resultType="int" order="BEFORE">
   select board_review_seq.nextval from dual 
</selectKey>

</insert>

	<!-- 후기게시판 작성 - 이미지 -->
	<insert id="insertReviewImage">
		insert into reviewimg values(review_img_seq.nextval,#{postcode}, #{path}, #{oriname}, #{sysname})
	</insert>




<!-- 

	후기게시판의 고유번호
	<select id="selectReviewSeq" resultType="int">
		select
		board_review_seq.nextval from dual
	</select>

	후기게시판 작성 
	<insert id="insertReview">
		insert into BoardReview values ( #{seq}, 1003 , 3001
		, #{membercode} , #{dto.title} , #{dto.content} , 0 , 0, sysdate,
		null,null)
	</insert>

	 후기게시판 작성 - 이미지 
	<insert id="insertReviewImage">
		insert into reviewimg values(review_img_seq.nextval,
		#{postcode}, #{path}, #{oriname}, #{sysname})
	</insert>
	
 -->
 
 
	<!-- 자유게시판 작성 -->
	<insert id="insertFree">
		insert into BoardFree values (board_free_seq.nextval,
		1002 , #{dto.headLineCode} , #{membercode} , #{dto.title} ,
		#{dto.content} , 0 , 0, sysdate, null,null)
	</insert>

	<!-- 공지게시판 작성 -->
	<insert id="insertAnnouncement">
		insert into BoardAnnouncement values
		(board_announcement_seq.nextval, 1001 ,1001, #{membercode} , #{dto.title} ,
		#{dto.content} , 0 , 0, sysdate, null,null)
	</insert>


<!-- ========================================================================================== -->


	<!-- 자유게시판리스트 조건에 따라 가져오기 -->
	<select id="selectFreelist" resultType="cc.spring.dto.BoardFreeDTO">
		select * from ( select boardFree_view.*, row_number() over(order by code desc) as rn from boardFree_view )
		where rn between #{start} and #{end}
	</select>


	<!-- 자유게시판리스트 가져오기 -->
	<select id="selectAllFree" resultType="cc.spring.dto.BoardFreeDTO">
		select * from boardfree_view order by regdate desc
	</select>

	<!-- 공지사항게시판리스트 조건에 따라 가져오기 -->
	<select id="selectAnnouncementlist" resultType="cc.spring.dto.BoardAnnouncementDTO">
		select * from ( select boardannouncement_view.*, row_number() over(order by code desc) as rn from boardannouncement_view )
		where rn between #{start} and #{end}
	</select>

	<!-- 공지게시판리스트 가져오기 -->
	<select id="selectAllAnnouncement" resultType="cc.spring.dto.BoardAnnouncementDTO">
		select * from boardannouncement_view order by regdate desc
	</select>
	
	<!-- 리뷰게시판리스트 조건에 따라 가져오기 -->
	<select id="selectReviewlist" resultType="cc.spring.dto.BoardReviewDTO">
		select * from ( select boardReview_view.*, row_number() over(order by code desc) as rn from boardReview_view )
		where rn between #{start} and #{end}
	</select>	

	<!-- 리뷰게시판리스트 가져오기 -->
	<select id="selectAllReview" resultType="cc.spring.dto.BoardReviewDTO">
		select * from boardReview_view order by regdate desc
	</select>

<!-- ========================================================================================== -->

	<!-- 자유게시판 해당 글 가져오기 -->
	<select id="selectFreeContent" resultType="cc.spring.dto.BoardFreeDTO">
		select * from boardfree_view where code = #{code}
	</select>

	<!-- 공지게시판 해당 글 가져오기 -->
	<select id="selectAnnouncementContent" resultType="cc.spring.dto.BoardAnnouncementDTO">
		select * from boardAnnouncement_view where code = #{code}
	</select>
	
	<!-- 리뷰게시판 해당 글 가져오기 -->
	<select id="selectReviewContent"
		resultType="cc.spring.dto.BoardReviewDTO">
		select * from boardReview_view where code = #{code}
	</select>
	
<!-- ========================================================================================== -->	

	<!-- 공지게시판 조회수 수 증가 -->
	<update id="updateAnnouncementView">
	update boardAnnouncement set viewcount = ${viewCount} where code = #{code}
	</update>
	
	
	<!-- 자유게시판 조회수 수 증가 -->
	<update id="updateFreeView">
	update boardFree set viewcount = ${viewCount} where code = #{code}
	</update>


	<!-- 리뷰게시판 조회수 수 증가 -->
	<update id="updateReviewView">
	update boardReview set viewcount = ${viewCount} where code = #{code}
	</update>
	
	
<!-- ========================================================================================== -->

<!-- 자유게시판 수정 -->
	<update id="updateFree" >
		update boardFree set headlinecode = #{headLineCode}, title =  #{title}, content = #{content} where code = #{code}
	</update>


<!-- 공지게시판 수정 -->
	<update id="updateAnnouncement" >
		update boardAnnouncement set title =  #{title}, content = #{content} where code = #{code}
	</update>
	
	

<!-- 리뷰게시판 수정 -->
	<update id="updateReview" >
		update boardReview set title =  #{title}, content = #{content} where code = #{code}
	</update>
	
	
<!-- ========================================================================================== -->	

<!-- 공지게시판 삭제 -->
	<delete id="deleteAnnouncement" >
		delete from boardAnnouncement where code = #{code}
	</delete>
	
	<!-- 리뷰게시판 삭제 -->
	<delete id="deleteReview" >
		delete from boardReview where code = #{code}
	</delete>
	
	
	<!-- 자유게시판 삭제 -->
	<delete id="deleteFree" >
		delete from boardFree where code = #{code}
	</delete>
	
<!-- ========================================================================================== -->

<!-- 자유게시판 신고대상이름 가져오기 -->

<select id="selectReporteeNickname" resultType="String">
      select nickname from member where code = #{reporteeCode}
</select>


<select id="selectReporteeCompanyName" resultType="String">
      select companyname from member where code = #{reporteeCode}
</select>
	
	
<!-- 게시판 신고 기능 -->
	<insert id="insertReport" >
insert into report values (report_seq.nextval , #{postcode} , null , #{boardKindCode} , #{reportKindCode} , #{reporterCode} , #{reporteeCode} , #{detail} , #{statusCode} , sysdate , null, null)
	</insert>	
	
<!-- ========================================================================================== -->	

	<!-- 공지게시판 좋아요 수 증가 -->
	<update id="updateAnnouncementLike">
	update boardAnnouncement set likecount = ${likeCount} where code = #{code}
	</update>
	
	
	<!-- 자유게시판 좋아요 수 증가 -->
	<update id="updateFreeLike">
	update boardFree set likecount = ${likeCount} where code = #{code}
	</update>


	<!-- 리뷰게시판 좋아요 수 증가 -->
	<update id="updateReviewLike">
	update boardReview set likecount = ${likeCount} where code = #{code}
	</update>



</mapper>