<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Business">
<select id="login" resultType="boolean">select count(*) from Member where
		businessId= #{businessId} and pw= #{pw}
	</select>
	<!-- 폰번호로 아이디값 가져오는 쿼리문 -->
	<select id="getIdByPhone" resultType="String">
	select businessId from Member where phone = #{phone} and authGradeCode = 1002
	</select>
	
	<select id="isMember" resultType="boolean">
		select count(*) from Member where ${key} = #{value}
	</select>
	
	<select id="phoneAndemailDuplication" resultType="boolean">
		select count(*) from Member where ${key} = #{value} and authGradeCode = 1002
	</select>
		
	<select id="phoneCheck" resultType="boolean">
		select count(*) from Member where phone = #{phone} and authGradeCode = 1002
	</select>
	
	<insert id="insert">
		insert into Member values(member_seq.nextval,null,#{businessId},#{pw},#{name},#{companyName},#{authGradeCode},null,#{birthDate},#{phone},#{eMail},null,#{zipcode},#{address1},#{address2},#{agree},sysdate,null,null)
	</insert>
	
	<update id="updatePw">
		update Member set pw = #{pw} where businessId = #{businessId}
	</update>
	
	<select id="selectBusinessMemberInfo" resultType="cc.spring.dto.MemberDTO">
		select * from member where businessid = #{id}
	</select>
	
	<select id="selectMemberInfoByCode" resultType="cc.spring.dto.MemberDTO">
		select * from member where code = ${code}
	</select>
	
	<update id="updateShippingCompany">
		update member set shippingcompany = #{shippingCompany} where code = ${code}
	</update>
	
	<select id="checkPw" resultType="boolean">
		select count(*) from Member where businessId = #{id} and pw = #{pw}
	</select>
	
	<update id="updateMemberInfo">
		update Member set name = #{name}, companyName = #{companyName}, phone = #{phone}, birthDate = #{birthDate}, eMail = #{eMail}, zipcode = #{zipcode}, address1 = #{address1}, address2 = #{address2} where businessId = #{businessId}
	</update>
	
	<select id="checkGroupBuying" resultType="boolean">
		select count(*) from groupbuying where membercode = #{code} and statuscode = 1001
	</select>
	
	<delete id="deleteMember">
		delete from Member where code = #{code}
	</delete>
	
	<select id="selectAllBusinessMember" resultType="cc.spring.dto.MemberDTO">
		select * from member where authgradecode = 1002
	</select>
</mapper>