<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Client">
	<select id="login" resultType="boolean">select count(*) from ClientMember where
		id= #{id} and pw= #{pw}
	</select>
	<!-- 폰번호로 아이디값 가져오는 쿼리문 -->
	<select id="getIdByPhone" resultType="String">select id from ClientMember where phone = #{phone}</select>
	
	<select id="isMember" resultType="boolean">
		select count(*) from ClientMember where id = #{id}
	</select>
		
	<select id="phoneCheck" resultType="boolean">
		select count(*) from ClientMember where phone = #{phone}
	</select>
</mapper>