<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Client">
	<select id="login" resultType="boolean">select count(*) from ClientMember where id= #{id} and pw = #{pw}
	</select>
	<!-- 폰번호로 아이디값 가져오는 쿼리문 -->
	<select id="getIdByPhone" resultType="String">
	select id from ClientMember where phone = #{phone}
	</select>
	
	<select id="isMember" resultType="boolean">
		select count(*) from ClientMember where ${key} = #{value}
	</select>
		
	<select id="phoneCheck" resultType="boolean">
		select count(*) from ClientMember where phone = #{phone}
	</select>
	
	<insert id="insert">
		insert into ClientMember values(#{code},#{id},#{pw},#{name},#{nickName},#{birthDate},#{phone},#{eMail},#{zipcode},#{address1},#{address2},#{agree},#{authGradeCode},sysdate,null,null)
		<selectKey keyProperty="code" resultType="int" order="BEFORE">
			select client_seq.nextval from dual
		</selectKey>
	</insert>
	
	<insert id="totalInsert">
		insert into TotalMember values(total_member_seq.nextval, ${clientmember}, 0, 1003)
	</insert>
	
	<update id="updatePw">
		update ClientMember set pw = #{pw} where id = #{id}
	</update>
	
	<select id="selectClientMemberInfo" resultType="cc.spring.dto.ClientMemberDTO">
		select * from ClientMember where id = #{id}
	</select>
</mapper>