<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Client">
	<select id="login" resultType="boolean">select count(*) from Member where id= #{id} and pw = #{pw}
	</select>
	<!-- 폰번호로 아이디값 가져오는 쿼리문 -->
	<select id="getIdByPhone" resultType="String">
	select id from Member where phone = #{phone} and authGradeCode = 1003
	</select>
	
	<select id="isMember" resultType="boolean">
		select count(*) from Member where ${key} = #{value}
	</select>
	
	<select id="phoneAndemailDuplication" resultType="boolean">
		select count(*) from Member where ${key} = #{value} and authGradeCode = 1003
	</select>
		
	<select id="phoneCheck" resultType="boolean">
		select count(*) from Member where phone = #{phone} and authGradeCode = 1003
	</select>
	
	<insert id="insert">
		insert into Member values(member_seq.nextval,#{id},null,#{pw},#{name},null,#{authGradeCode},#{nickName},#{birthDate},#{phone},#{eMail},null,#{zipcode},#{address1},#{address2},#{agree},sysdate,null,null)
	</insert>
	
	<update id="updatePw">
		update Member set pw = #{pw} where id = #{id}
	</update>
	
	<select id="selectClientMemberInfo" resultType="cc.spring.dto.MemberDTO">
		select * from Member where id = #{id}
	</select>
	
	<select id="checkPw" resultType="boolean">
		select count(*) from Member where id = #{id} and pw = #{pw}
	</select>
	
	<update id="updateMemberInfo">
		update Member set name = #{name}, nickName = #{nickName}, phone = #{phone}, birthDate = #{birthDate}, eMail = #{eMail}, zipcode = #{zipcode}, address1 = #{address1}, address2 = #{address2} where id = #{id}
	</update>
	

	<delete id="deleteMember">
		delete from Member where code = #{code}
	</delete>

	<select id="selectAllClientMember" resultType="cc.spring.dto.MemberDTO">
		select * from member where authgradecode = 1003
	</select>

</mapper>