<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="File">
	
	<insert id="insertShopImage">
		insert into groupbuyinimg values(groupbuying_img_seq.nextval, ${postcode}, #{path}, #{oriname}, #{sysname})
	</insert>
	
	<select id="selectShopImg" resultType="cc.spring.dto.FileDTO">
		select * from groupbuyinimg where postcode=${code}
	</select>
	
	<delete id="deleteShopImage">
		delete from groupbuyinimg where postcode=${postcode}
	</delete>
	
	<insert id="insertReviewImage">
		insert into ReviewImage values( review_img_seq.nextval , #{dto.postcode} ,#{dto.path} ,#{dto.oriname} ,#{dto.sysname})
	</insert>
	
</mapper>