<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Shop">
	
	<insert id="insertShop">
		insert into groupbuying values(groupbuyin_seq.currval,1,1001,#{deadLine},${max},${min},#{title},#{detail},#{productName},#{productPrice},2001,sysdate,null,null)
		<selectKey keyProperty="code" resultType="int" order="BEFORE">
			select groupbuyin_seq.nextval from dual
		</selectKey> 
	</insert>
	
	<select id="selectShopInfo" resultType="cc.spring.dto.ShopDTO">
		select g.code,g.businesscode,g.statuscode,g.deadLine,g.max,g.min,
			g.title,g.detail,g.productname,g.productprice,g.boardkindcode,g.regdate,g.moddate,g.deldate,b.businessid
		from groupbuying g
		join businessmember b on g.businesscode = b.code where g.code = #{code}
	</select>
	
	<select id="isClientMember" resultType="int">
		select count(*) from clientmember where id=#{loginId}
	</select>
	
	<select id="shopList" resultType="cc.spring.dto.ShopListDTO">
		select g.code, g.deadline, g.title, g.productprice , b.companyname from groupbuying g join businessmember b on g.businesscode = b.code where statuscode = 1001
	</select>
</mapper>