@charset "UTF-8";

* {
	font-family: 'NanumSquareNeo';
	box-sizing: border-box;
}

body {
	background-color: rgba(255, 255, 194, 0.5);
}

textarea {
	resize: none;
}

.container {
	width: 70%;
	margin-top: 100px;
	background-color: white;
}

.memberInfo {
	margin-top: 2px;
	border: 0;
}

#message {
	margin-top: 6px;
	margin-left: 92px;
}