@charset "UTF-8";
* {
	font-family: NanumSquareNeo;
	box-sizing: border-box;
}

body {
	background-color: rgba(255,255,194,0.75);
}

.container {
	margin-top: 100px;
}

.wrapper {
	width: 80%;
	padding: 32px;
	background: whitesmoke;
	border-radius: 1rem;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0
		rgba(0, 0, 0, 0.19);
	animation-duration: 5s;
}

label {
	font-size: small;
	font-family: 'NanumSquareNeoBold';
}

.essential {
	font-size: small;
	font-family: 'NanumSquareNeoBold';
	color: red;
}

.condition {
	font-size: 11px;
}

.btn {
	font-size: small;
}

#password-alert * {
	font-size: x-small;
}

.wrong .bi-check {
	display: none;
}

.good .bi-x {
	display: none;
}

.valid-feedback, .invalid-feedback {
	font-size: small;
}

.alert {
	font-family: 'NanumSquareNeoBold';
	text-color: black;
}

.row .insert {
	justify-content: center;
}

#member_birth_day {
	padding: 0.375rem 0 0.375rem 0;
	font-size: 0.75rem;
}

.form-select {
	padding: 0.375rem 0 0.375rem 0;
	background-size: 8px 8px;
	font-size: 0.75rem;
}

.form-select::-webkit-scrollbar {
	display: none;
}

@media ( min-width :@screen-sm-min) {
	.form-select {
		padding: 0.375rem 0 0.375rem 0;
		background-size: 8px 8px;
		font-size: 0.75rem;
	}
}
