@charset "UTF-8";

* {
font-family: NanumSquareNeo;
box-sizing: border-box;
}

.ct {
margin-top: 100px;
border-radius: 2px;
}

h2 {
text-align: center;
}

.row>table {
width: 100%;
table-layout: fixed;
}


.title {
width: 75%;
}

.body tr,
td {
border: 1px solid #c8c8c8;
font-size: 20px;
}


.content {
width: 100%;
height: 600px;
overflow: auto;
word-break: break-all;

}

#write_reply {
width: 100%;
height: 150px;
overflow: auto;
word-break:break-all;
}

#write_reply:empty:before {
content: attr(placeholder);
}

.reply {
word-break: break-all;
}

.re_reply {
word-break: break-all;
}

.con{
margin-right: 15px;
float: right;
border: 0;
margin-top: 10px;
margin-bottom: 10px;
}

.note-modal-footer>input {
margin-right: 20px;
margin-top: -15px;
font-size: small;
}

.replyCode {
display: none;
}

.replyMemberCode {
display: none;
}

.replyMemberNickNameOrCompanyName {
display: inline;
}

.me {
font-size: 12px;
display: inline;
}

.modiWriteReply {
border: none;
word-break : break-word;
}

.modiWriteReply:empty:before {
content: attr(placeholder);
}

.replyModiCancleBtn {
display: none;
}

.replyModiSuccessBtn {
display: none;
}
.note-editor .note-toolbar .note-color-all .note-dropdown-menu,
.note-popover .popover-content .note-color-all .note-dropdown-menu {
min-width: 0px;
}
.note-dimension-picker-mousecatcher,
.note-dimension-picker-highlighted,
.note-dimension-picker-unhighlighted {
max-width: 3em;
max-height: 3em;
}

.main-footer{
margin-top:100px;
}
